embedding\chroma_sip_csa_db\[Huggingface Embedding]/
embedding\chroma_sip_csa_db\[old_Huggingface Embedding]/
embedding\chroma_sip_csa_db\[openai_embed3]/
embedding
*.sqlite3
*.bin
__pycache__/
.DS_Store